## Notebook realizado por Enzo Juarez

In [ ]:
## https://globalweather.tamu.edu/
## Repositorio de informacion metereologica
## Fuente para obtener DATASET en TXT, Datos en TXT
## Ejemplo: weatherdata--304-622.csv

# Abrir archivos de Texto tipo CSV TSV TXT

In [1]:
import pandas as pd

In [7]:
dataframe = pd.read_csv('datosmeteorologicos.txt', sep=",",header=None)
print(dataframe)

                0           1           2                     3  \
0  Temperatura:21  Presion:10  Humedad:15  Sensacion_Termica:30
1  Temperatura:22  Presion:20  Humedad:15  Sensacion_Termica:31
2  Temperatura:23  Presion:30  Humedad:15  Sensacion_Termica:32
3  Temperatura:24  Presion:40  Humedad:15  Sensacion_Termica:33
4  Temperatura:25  Presion:50  Humedad:15  Sensacion_Termica:34
5  Temperatura:26  Presion:60  Humedad:15  Sensacion_Termica:35
6  Temperatura:27  Presion:70  Humedad:15  Sensacion_Termica:36
7  Temperatura:28  Presion:80  Humedad:15  Sensacion_Termica:37
8  Temperatura:29  Presion:90  Humedad:15  Sensacion_Termica:38

                    4           5
0  Precipitaciones:30  Viento:160
1  Precipitaciones:30  Viento:150
2  Precipitaciones:30  Viento:120
3  Precipitaciones:30  Viento:180
4  Precipitaciones:30  Viento:190
5  Precipitaciones:30  Viento:200
6  Precipitaciones:30  Viento:120
7  Precipitaciones:30  Viento:140
8  Precipitaciones:30  Viento:130

In [3]:
import pandas as pd
dataframe2 = pd.read_csv('datosmeteorologicos2.txt', sep=" ")
print(dataframe2)

   Temperatura  Presion  Humedad  Sensacion_Termica  Precipitaciones  Viento
0           21       10       15                 30               30     160
1           22       20       15                 31               30     150
2           23       30       15                 32               30     120
3           24       40       15                 33               30     180
4           25       50       15                 34               30     190
5           26       60       15                 35               30     200
6           27       70       15                 36               30     120
7           28       80       15                 37               30     140
8           29       90       15                 38               30     130

In [5]:
# pd.read_csv('nombre_de_archivo.csv',sep='\t') Para archivos separados por Tabulador

In [4]:
data1 = pd.read_fwf("http://staff.math.su.se/esbj/GLMbook/mccase.txt")
data1.head(10)

    0M141210.175342  0  0.1
0   4M36 91       0  0    0
1   5K331810.454795  0    0
2   5K412510.172603  0    0
3   6K212610.180822  0    0
4   9K33 810.542466  0    0
5   9K43 61       0  0    0
6   9M44201 0.50411  0    0
7  10M231610.150685  0    0
8  10M421710.523288  0    0
9  10M44212 1.00274  0    0

In [9]:
## https://globalweather.tamu.edu/
## Repositorio de informacion metereologica
## Fuente para obtener DATASET en TXT, Datos en TXT
## Ejemplo: weatherdata--304-622.csv

datos = pd.read_csv('weatherdata--304-622.csv', index_col=False)
print(datos)

            Date  Longitude   Latitude  Elevation  Max Temperature  \
0       1/1/1979   -62.1875 -30.442301         75           34.968
1       1/2/1979   -62.1875 -30.442301         75           32.055
2       1/3/1979   -62.1875 -30.442301         75           32.643
3       1/4/1979   -62.1875 -30.442301         75           33.438
4       1/5/1979   -62.1875 -30.442301         75           35.729
...          ...        ...        ...        ...              ...
12982  7/27/2014   -62.1875 -30.442301         75           15.938
12983  7/28/2014   -62.1875 -30.442301         75           20.470
12984  7/29/2014   -62.1875 -30.442301         75           22.072
12985  7/30/2014   -62.1875 -30.442301         75           18.200
12986  7/31/2014   -62.1875 -30.442301         75           22.298

       Min Temperature  Precipitation      Wind  Relative Humidity      Solar
0               18.019       0.346756  3.459731           0.539945  32.456311
1               21.653      10.099693  3.182952           0.810696  20.985752
2               19.994       0.000000  3.529763           0.638956  28.406983
3               19.572       0.000000  3.430782           0.480420  30.222842
4               20.306       0.000000  3.149614           0.445070  30.734881
...                ...            ...       ...                ...        ...
12982            5.081       0.000000  2.627763           0.639303  13.388504
12983            6.121       0.000000  3.853856           0.698549  15.112251
12984           12.764       0.209427  2.890072           0.785835   6.979922
12985           15.068       2.204133  2.457414           0.827991   1.954017
12986           15.538       1.692579  1.438762           0.841980   8.233861

[12987 rows x 10 columns]

In [1]:
with open('datosmeteorologicos2.txt', 'r') as filein, open('myfile_practica_20MAYO2021.txt','w') as fileout:
    for line in filein:
        line = line.replace(' ','-')
        fileout.write(line)

In [2]:
with open('weatherdata--304-622.csv', 'r') as filein, open('myfile.txt','w') as fileout:
    for line in filein:
        line = line.replace('"','')
        fileout.write(line)

In [5]:
with open('myfile.txt', 'r') as filein, open('myfile00003.txt','w') as fileout:
    for line in filein:
        line = line.replace(',','\t')
        fileout.write(line)

In [4]:
# pd.read_csv('nombre_de_archivo.csv',sep='\t') Para datos separados por Tabulador


# pd.read_csv('nombre_de_archivo.csv',sep='\n') Para datos separados por saltos de linea

In [6]:
with open('myfile.txt', 'r') as filein, open('myfile00004.txt','w') as fileout:
    for line in filein:
        line = line.replace(',',' ')
        fileout.write(line)